@(message: String)
@main("RTC DataChannel test") {
	<script>
		function User (name, isOfferer){
			this.name = name;
			this.isOfferer = isOfferer;
		}
		user = new User('Caller',true);
	</script>
    <h1>offer oldal</h1>
    
}
